 :root {
     --color-brand: #2E2F42;
     --color-primary: #4D5AE5;
     --colol-secondary: #434455;
     --color-main: #FFFFFF;
     --color-footer: #E7E9FC;
     --color-hover: #404BBF;
 }

 body {
     background: var(--color-main);
     font-family: 'Roboto', sans-serif;
     color: var(--color-brand);
 }

 ul {
     list-style: none;
 }

 .logo-first {
     color: var(--color-primary);
     font-family: 'Raleway', sans-serif;
     font-weight: 800;
     text-decoration: none;
     font-size: 18px;
     line-height: 1.333;
     letter-spacing: 0.03em;

 }

 .logo-second {
     font-family: 'Raleway', sans-serif;
     color: var(--color-brand);
     letter-spacing: 0.03em;
 }

 .link {
     text-decoration: none;
     color: var(--color-brand);
 }

 .test-link:hover,
 .test-link:focus {
     color: var(--color-hover);
 }

 .test-link {
     font-style: normal;
     font-weight: 500;
     text-decoration: none;
     font-size: 16px;
     line-height: 1.5;
     color: var(--color-brand);
     letter-spacing: 0.02em;
 }

 .address {
     color: var(--colol-secondary);
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
 }


 .test-address {
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: var(--colol-secondary);
     text-decoration: none;
 }


 .test-address:hover,
 .test-address:focus {
     color: var(--color-hover);
 }


 .section-hero {
     background: var(--color-brand);
     text-align: center;
 }

 .hero-tital {
     color: var(--color-main);
     background: var(--color-brand);
     font-weight: 700;
     text-align: center;
     font-size: 56px;
     line-height: 1.071;
     letter-spacing: 0.02em;
 }

 .button-light {
     background: var(--color-primary);
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
     color: var(--color-main);
     font-style: normal;
     font-weight: 500;
     text-align: center;
     font-size: 16px;
     line-height: 1.5;
     font-family: 'Roboto', sans-serif;
     letter-spacing: 0.04em;
 }

 .button-light:hover,
 .button-light:focus {
     text-align: center;
     background: var(--color-hover);
     cursor: pointer;
 }

 .section-header {
     color: var(--color-brand);
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
 }

 .section-li {
     background: var(--color-main);
     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
     border-radius: 0px 0px 4px 4px;
 }

 .paragraph {
     color: var(--colol-secondary);
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     text-decoration: none;
 }

 .section-img {
     color: var(--color-brand);
     font-weight: 700;
     text-align: center;
     font-size: 36px;
     line-height: 1.111;
     letter-spacing: 0.02em;
 }

 .section {
     background: #F4F4FD;
 }

 .footer {
     background: var(--color-brand);
     font-family: 'Roboto', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
 }

 .logo-seconds {
     color: #F4F4FD;
 }

 .paragraph-footer {
     color: #E7E9FC;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
 }

 .section-portfolio {
     box-sizing: border-box;
     border-radius: 4px;
     text-decoration: none;
 }

 .button-portfolio {
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
     background: #F4F4FD;
     border: 1px solid #E7E9FC;
     border-radius: 4px;
     font-family: 'Roboto', sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     display: flex;
     align-items: center;
     text-align: center;
     letter-spacing: 0.04em;
     color: var(--color-primary);
     cursor: pointer;
     text-decoration: none;
 }


 .button-portfolio:hover,
 .button-portfolio:focus {
     color: var(--color-main);
     background-color: var(--color-primary);
 }


 .links-portfolio {
     cursor: pointer;
     text-decoration: none;
 }

 .visually-hidden {
     position: absolute;
     white-space: nowrap;
     width: 1px;
     height: 1px;
     overflow: hidden;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     clip-path: inset(50%);
     margin: -1px;
 }